---
name: CI
on: push
jobs:
  test:
    name: Run tests
    runs-on: ubuntu-18.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3.3.0
      - name: Set up Flutter
        uses: subosito/flutter-action@v1.4.0
        with:
          flutter-version: '1.17.5'
      - name: Install dependencies
        run: flutter pub get
      - name: Run the test suite
        run: flutter test
